
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link rel="stylesheet" href="~/css/About.css">
</head>
<body>
    <div class="under-construction">
        <i class="fas fa-tools construction-icon"></i>
        <p>This page is under construction. Please check back later.</p>
    </div>
    <button class="button">
        <a asp-controller="Movies" asp-action="Index">Leave</a>
    </button>
</body>
</html>

