<!--

@model eTickets.Models.Appointments

author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
-->

<!DOCTYPE html>
<html class="no-js" prefix="og: http://ogp.me/ns#" lang="en-IN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Beauty &amp; Salon - Free Bootstrap 4 Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Salon Bootstrap Themes & Templates Salon bootstrap themes and templates will help you create an amazing website for your beauty salon of any kind in no time." />
    <link href="img/beauty-salon_logo_96dp.png" rel="apple-touch-icon" sizes="96x96">
    <link href="img/beauty-salon_logo_96dp.png" rel="icon" sizes="96x96" type="image/png">
    <meta content="img/beauty-salon_logo_96dp.png" name="msapplication-TileImage">

    <meta property="og:url" content="https://www.boostraptheme.com/demo/index.html" />
    <meta property="og:title" content="Beauty and Salon - Free Bootstrap 4 Template | Boostraptheme" />
    <meta property="og:locale" content="en_IN" />
    <meta property="og:site_name" content="Boostraptheme" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="BoostrapTheme" />
    <meta name="twitter:creator" content="BoostrapTheme" />

    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="js/jquery.min.js"></script>
    <script>
        $(window).on('load', function () { $(".loader").fadeOut(2000); });
        $(function () {
            new WOW().init();
        });
    </script>

</head>

<body>

    <div class="loader"></div>
    <!-- NAVIGATION
        =================-->


    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#home"><img src="img/logo.jpg" style="max-height: 80px;" alt="" class="img-fluid"></a>
            <button class="navbar-toggler navbar-toggler-center  ml-auto py-3 my-2 " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Customer style</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- HEADER
        =================-->
    <header id="home">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="home-content-box">
                        <div class="home-content-box-inner text-center">
                            <div class="home-heading animated fadeInDown">
                                <h3>Fascinating than any <br> fashion salon</h3>
                            </div>
                            <div class="home-btn wow fadeInUp" data-wow-delay="0.3s">
                                <a class=" js-scroll-trigger" href="#contact" role="button" title="View Our Work"><button class="btn btn-lg btn-general btn-greenish ">Book Now</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="home-content-box">
                        <div class="home-content-box-inner text-center">
                            <div class="home-heading animated fadeInDown">
                                <h3>your hair style <br> our passionate team </h3>
                            </div>
                            <div class="home-btn fadeInDown">
                                <a class=" js-scroll-trigger" href="#contact" role="button" title="View Our Work"><button class="btn btn-lg btn-general btn-greenish ">Book Now</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- SERVICES
        =================-->
    <section id="services" class="services">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 text-center mb-5">
                    <div class="heading wow fadeInUp" data-wow-delay="0.3s">
                        <h1>Services</h1>
                        <div class="bord-bot"></div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="service-cont wow fadeInUp" data-wow-delay="0.3s">
                        <img src="img/service/service-1.jpg" alt="" class="img-fluid">
                        <div class="service-desc">Haircut <p>Rs.500</p></div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-cont wow fadeInUp" data-wow-delay="0.6s">
                        <img src="img/service/service-2.jpg" alt="" class="img-fluid">
                        <div class="service-desc">Treaming <p>Rs.350</p></div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-cont wow fadeInUp" data-wow-delay="0.9s">
                        <img src="img/service/service-3.jpg" alt="" class="img-fluid">
                        <div class="service-desc">Shaving <p>Rs.200</p></div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-cont wow fadeInUp" data-wow-delay="1.2s">
                        <img src="img/service/service-4.jpg" alt="" class="img-fluid">
                        <div class="service-desc">Coloring <p>rS.1200</p></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT
        =================-->
    <section id="about" class="about">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 text-center ">
                    <div class="heading wow fadeInUp" data-wow-delay="0.3s">
                        <h1>About Us</h1>
                        <div class="bord-bot"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 my-auto">
                    <div class="body-cont mb-5 wow fadeInUp" data-wow-delay="0.6s">
                        <h3>Good Hair style Good Selfie</h3>
                        <div class="bord-bottom"></div>
                        <p>Running a salon successfully might not even seem very much managerial, but do not be fooled. Making up a winning salon simply means tying all the various aspects of luxury, style and beauty. Interior design is one of the factors that really encompass not just the layout of the salon but also the furniture of the salon as well.</p>
                        <a href="#contact" class="img-fluid js-scroll-trigger"><button class="btn btn-general btn-white">ENQUIRIES</button></a>
                    </div>
                </div>
                <div class="col-md-8 m-auto text-center">
                    <div class="body-img-1 wow fadeInUp" data-wow-delay="0.9s">
                        <img src="img/treamer-small.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PERFECT STYLE
        =================-->
    <section class="perfect-style" id="perfect-style">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto">
                    <div class="perfect-style-desc text-center  wow fadeInLeft" data-wow-delay="0.3s">
                        <h3>Perfect Style</h3>
                        <p>Its professional salon really offers a very large number of various different kinds of treatments and each and every treatment come with corresponding furniture of the salon. all, products and treatments are really important aspects of the salon experience. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TEAM
        =================-->
    <section id="team" class="team pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team wow fadeInUp" data-wow-delay="0.3s">
                        <div class="pic">
                            <img src="img/team/team-1.jpg">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Taneswar khan</h3>
                            <small class="post">Founder</small>
                        </div>
                        <div class="team-layer">
                            <a href="#">Taneswar khan</a>
                            <span class="post">Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team wow fadeInUp" data-wow-delay="0.6s">
                        <div class="pic">
                            <img src="img/team/team-2.jpg">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">krish Modi</h3>
                            <small class="post">CEO &amp; Cofounder</small>
                        </div>
                        <div class="team-layer">
                            <a href="#">krish Modi</a>
                            <span class="post">CEO &amp; Cofounder</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team wow fadeInUp" data-wow-delay="0.9s">
                        <div class="pic">
                            <img src="img/team/team-3.jpg">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Trisca Ben</h3>
                            <small class="post">Finances</small>
                        </div>
                        <div class="team-layer">
                            <a href="#">Trisca Ben</a>
                            <span class="post">Finances</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PORTFOLIO
        =================-->
    <section id="portfolio" class="portfolio pb-0 pt-5">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-md-12 text-center mb-3">
                    <div class="heading wow fadeInUp" data-wow-delay="0.3s">
                        <h1>Our Customer Style</h1>
                        <div class="bord-bot"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-1.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-1.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-2.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-2.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-3.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-3.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-4.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-4.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-8.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-8.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-6.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-6.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-7.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-7.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="port-cont">
                        <a href="img/portfolio/portfolio-5.jpg" title="Salon Style">
                            <img src="img/portfolio/portfolio-5.jpg" alt="Salon Style" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIALS
        =================-->
    <section id="testimonials" class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-slider" class="owl-carousel owl-theme">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="img/client/client-1.jpg">
                            </div>
                            <p class="description">
                                If you are going to have a successful beauty salon, then you must have beauty salon equipment. Although there are plenty of other things that go into the making of a respectable and popular salon like competitive or affordable rates.
                            </p>
                            <h3 class="title">Rahul Singh</h3>
                            <small class="post">- india</small>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="img/client/client-2.jpg">
                            </div>
                            <p class="description">
                                style of a salon by the kind of furniture that it makes use of. Hence it is important to select the right kind of salon furniture and place it appropriately so that you are able to build an image that you are a fashionable stylist in the minds.
                            </p>
                            <h3 class="title">Bhuvan Shah</h3>
                            <small class="post">- india</small>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="img/client/client-3.jpg">
                            </div>
                            <p class="description">
                                salon stock taking a crucial task for each and every owner. It is very well known by each and every person that the beauty products are very expensive and that is the reason why the salon owners know that they will get the best deal done when they go online.
                            </p>
                            <h3 class="title">Pranav Mishra</h3>
                            <small class="post">- India</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT FORM
        =================-->
    <section id="contact" class="contact pb-0">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 text-center">
                    <div class="heading">
                        <h1>Contact Us</h1>
                        <div class="bord-bot"></div>
                        <p class="desc">We would love to hear from you!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__mail">
                        <h2 class="contact__title">
                            Send Me A Message
                        </h2>
                        <form action="" class="contact__form" id="contact-form">
                            <div class="contact__group">
                                <div class="contact__box">
                                    <input type="text" name="user_name" class="contact__input" id="name" required placeholder="First Name">
                                    <label for="name" class="contact__label">First Name</label>
                                </div>

                                <div class="contact__box">
                                    <input type="email" name="user_email" class="contact__input" id="email" required placeholder="Email Address">
                                    <label for="email" class="contact__label">Email Address</label>
                                </div>

                                <div class="contact__box">
                                    <input type="text" name="user_subject" class="contact__input" id="subject" required placeholder="Subject">
                                    <label for="subject" class="contact__label">Subject</label>
                                </div>

                            </div>

                            <div class="contact__box contact__area">

                                <textarea name="user_message" id="message" class="contact__input" required placeholder="Message"></textarea>
                                <label for="message" class="contact__label">Message</label>
                            </div>

                            <p class="contact__message" id="contact-message"></p>

                            <button type="submit" class="contact__button button">
                                <i class="ri-send-plane-line"></i>Send Message
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER
             =================-->
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <span class="copyright">Copyright &copy; 2018 Design By <a href="https://boostraptheme.com/">Boostraptheme</a></span>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <a href="#page-top" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top  js-scroll-trigger hidden-sm hidden-xs" title="home" role="button">
            <i class="fa fa-angle-double-up"></i>
        </a>

    </section>


    <button class="chatbox-open">
        <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
    </button>
    <button class="chatbox-close">
        <i class="fa fa-close fa-2x" aria-hidden="true"></i>
    </button>
<section class="chatbox-popup">
    <main class="chatbox-popup__main">
        <div id="chat" class="conv-form-wrapper">
            <form id="chat-form" action="/Home/SaveAppointment" method="post">
                <select data-conv-question="Hi there👋 How can we help?" name="category">
                    <option value="WebDevelopment">I want to make an appointment</option>
                </select>

                <div data-conv-fork="category">
                    <div data-conv-case="WebDevelopment">
                        <input id="uname-input" name="uname" class="form-control" data-conv-question="Please enter your name" required>
                        <input id="email-input" name="email" class="form-control" data-conv-question="Hi {uname}, Please enter your email address">
                        <select data-conv-question="Thank you for providing your information. How can we assist you further?">
                            <!-- Options for further assistance -->
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </main>
</section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="jquery-1.12.3.min.js"></script>
    <script src="~/Scripts/autosize.min.js"></script>
    <script src="~/Scripts/jquery.convform.js"></script>
    <script>
        jQuery(function ($) {
            $('.chatbox-open').click(function () {
                $('.chatbox-popup, .chatbox-close').fadeIn();
            });

            $('.chatbox-close').click(function () {
                $('.chatbox-popup, .chatbox-close').fadeOut();
            });

            // Initialize convForm after DOM is ready
            var convForm = $('#chat').convform({ selectInputStyle: 'disable' });

            // Handle form submission
            $('#chat-form').submit(function (e) {
                e.preventDefault();
                var name = $('#uname-input').val();
                var email = $('#email-input').val();

                // Log name and email
                console.log('Submitted Name:', name);
                console.log('Submitted Email:', email);

                // Send form data to server
                $.ajax({
                    url: '@Url.Action("SaveAppointment", "Home")', // Replace with your server-side action URL
                    type: 'POST',
                    data: {
                        name: name,
                        email: email
                    },
                    success: function (response) {
                        // Handle success response
                        console.log('Data saved successfully:', response);
                        // Optionally, you can display a success message to the user
                        alert('Appointment saved successfully!');
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        console.error('Error saving data:', error);
                        // Optionally, you can display an error message to the user
                        alert('Error saving appointment. Please try again later.');
                    }
                });
            });
        });
    </script>

<link href="~/css/jquery.convform.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
   
    .custom-avatar {
        width: 54px; /* Adjust width as needed */
        height: 54px; /* Adjust height as needed */
        border-radius: 50%; /* Make it circular */
        object-fit: cover; /* Ensure the image covers the entire area */
        margin-right:220px;
    }

    .book-call-btn {
        background-color: #fff;
        color: #3544b1;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-right: 50px; /* Adjust the margin as needed */
    }


    body {
        margin: 0;
        padding: 0;
        font-family: "Lato", sans-serif;
        background-color: #f6f7f9;
    }

    h1 {
        margin: 0;
        font-size: 20px;
    }

    button {
        color: inherit;
        background-color: transparent;
        border: 0;
        outline: 0 !important;
        cursor: pointer;
    }

        button.chatbox-open {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 52px;
            height: 52px;
            color: #fff;
            background-color: #3544b1;
            background-position: center center;
            background-repeat: no-repeat;
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            margin: 16px;
        }

        button.chatbox-close {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 52px;
            height: 52px;
            color: #fff;
            background-color: #3544b1;
            background-position: center center;
            background-repeat: no-repeat;
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            display: none;
            margin: 16px calc(2 * 16px + 52px) 16px 16px;
        }




    .chatbox-popup {
        display: flex;
        position: fixed;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
        flex-direction: column;
        display: none;
        bottom: calc(2 * 16px + 52px + 20px); /* Adjusted bottom value */
        right: 16px;
        width: 507px;
        height: 620px; /* Adjusted height value */
        background-color: #fff;
        border-radius: 16px;
        z-index: 999;
    }


        .chatbox-popup .chatbox-popup__header {
            display: flex;
            width: 100%;
            height:70px;
            padding: 8px;
            color: #fff;
            background-color: #3544b1;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }

            .chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
                margin-top: -9px;
                margin-top:4px;

                background-color: #3544b1;
                border: 5px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
            }

        .chatbox-popup .chatbox-popup__main {
            box-sizing: border-box;
            width: 507px;
            height: 500px;
            padding: calc(2 * 16px) 16px;
            line-height: calc(16px + 16px / 2);
            color: black
        }

        .chatbox-popup .chatbox-popup__footer {
            box-sizing: border-box;
            display: flex;
            width: 100%;
            padding: 16px;
            border-top: 1px solid #ddd;
            align-items: center;
            justify-content: space-around;
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
        }

    .chatbox-panel {
        display: flex;
        position: absolute;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
        flex-direction: column;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        width: 377px;
        background-color: #fff;
    }

        .chatbox-panel .chatbox-panel__header {
            box-sizing: border-box;
            display: flex;
            width: 100%;
            padding: 6px;
            color: #fff;
            background-color: #0360a5;
            align-items: center;
            justify-content: space-around;
            flex: 0 0 auto;
        }

        .chatbox-panel .chatbox-panel__main {
            box-sizing: border-box;
            width: 100%;
            padding: calc(2 * 16px) 16px;
            line-height: calc(16px + 16px / 2);
            color: #888;
            text-align: center;
            flex: 1 1 auto;
        }

        .chatbox-panel .chatbox-panel__footer {
            box-sizing: border-box;
            display: flex;
            width: 100%;
            padding: 16px;
            border-top: 1px solid #ddd;
            align-items: center;
            justify-content: space-around;
            flex: 0 0 auto;
        }
</style>




    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.6.4/dist/email.min.js"></script>

    <script src="~/js/style.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jqBootstrapValidation.min.js"></script>
    <script src="js/contact_me.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/app.js"></script>
    <!--Start of Tawk.to Script-->
  
    <!--End of Tawk.to Script-->
</body>
</html>